.chip-container {
    margin-top: 10px;
}

.chip{
    text-transform: uppercase;
}

/* Add custom styles for other types */
.card-title {
    text-transform: capitalize;
}

.pokemon-detail .card.horizontal {
    margin-top: 20px;
}